<div class="ad-container">

    <script type="text/javascript">

        atOptions = {
            'key': '2f7d48d04a2c4d75c0d83a36d3d6d1a5',
            'format': 'iframe',
            'height': 65,
            'width': 100,
            'params': {}
        };

        document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/2f7d48d04a2c4d75c0d83a36d3d6d1a5/invoke.js"></scr' + 'ipt>');

    </script>

</div>