
<%- include('_header'), {title}%> 
<%- include('_nav') %> 
  <br><br>
<!-- Contact 1 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Create A new Post</h2>
          <p class="text-secondary mb-5 text-center">write a new contents</p>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-9">
          <div class="bg-white border rounded shadow-sm overflow-hidden">
  
            <form class="blogPost">
              <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-12">
                  <label for="fullname" class="form-label">Tittle <span class="text-danger">*</span></label>
                  <input type="text" class="form-control title" id="fullname" name="fullname" value="" required>
                </div>
                
                <div class="col-12">
                <label class="form-label" for="customFile">Upload Blog Image <span class="text-danger">*</span></label>
                <input type="file" class="form-control blogImage" id="customFile"  required /> 
                </div>

              
                <div class="col-12 col-md-6">
                    <select class="form-select category" aria-label="Default select example required">
                        <option selected>Select Category <span class="text-danger">*</span> </option>
                        <option value="science">Science</option>
                        <option value="art">Art</option>
                        <option value="commerce">Commerce</option>
                      </select>
                  
                </div>
               
                <div class="col-12">
                  <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                  <textarea class="form-control cpost" id="message" name="message" rows="3" required></textarea>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg submitPost" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>



    
    <!-----footer-->
    <%- include('_footer') %> 